:root {
    --light: #efefef;
    --dark: #111111;
    --mid: #4b4b4b;
    --display-font: 'Mestiza';
    --body-font: 'Darker Grotesque'
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

video {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: -100;
}

body {
    height: 100vh;
    font-size: 14px;
    background-color: var(--dark);
    font-family: var(--body-font);
    letter-spacing: 0.1rem;
    color: var(--light);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-line {
    width: 100%;
    height: 1px;
    background-color: var(--light);
    margin-top: 24px;
}

header {
    width: 100%;
    margin-top: 32px;
    padding-inline: 128px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 header > * {
    margin-right: 32px;
 }

 header > nav {
    margin-right: 0px;
 }

nav {
    width: 25%;
}

nav > ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

nav li {
    list-style: none;
}

nav li a {
    position: relative;
    bottom: 0px;
    transition: all 250ms;
}

nav li:hover a {
    bottom: 2px;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--light);
}

.active-link {
    font-weight: bold;
}

.logo {
    height: 64px;
}

.header-line {
    width: 60%;
    height: 1px;
    background-color: var(--light);
    margin-top: 4px;
}

h1 {
    font-family: var(--display-font);
    font-size: 2.5rem;
    letter-spacing: normal;
}

main {
    flex-grow: 1;
}

.hero h1 {
    text-align: center;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -32px;
}

.main-button {
    border: 1px solid var(--light);
    padding: 16px;
    padding-right: 8px;
    margin-top: 32px;
}

.main-button > a {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.main-button > a:hover > .icon {
    margin-left: 16px;
}

.main-button .icon {
    margin-top: 2px;
    transition: all 400ms;
}

.icon {
    width: 24px;
}

aside .icon {
    position: fixed;
    right: 64px;
    bottom: 64px;
}

.contact-main {
    margin-top: 76px;
    width: 70%;
    display: flex;
    gap: 64px;
}

.contact-main > div {
    width: 35%;
    padding-top: 64px;
}

p {
    font-size: 1rem;
}

form {
    width: 50%;
    display: flex;
    flex-direction: column;
}

form > * {
    margin-bottom: 16px;
}

form > div:first-child {
    display: flex;
    gap: 24px;
}

form > div:first-child > * {
    flex-grow: 1;
}

label {
    display: block;
    text-transform: uppercase;
    margin-bottom: 8px;
}

input, textarea {
    font-family: var(--body-font);
    font-size: 1rem;
    letter-spacing: 0.1em;
    color: var(--light);
    background-color: var(--dark);
    border: 1px solid var(--mid);
    width: 100%;
    padding-left: 8px;
}

input {
    height: 28px;
}

form button {
    font-family: var(--body-font);
    text-transform: uppercase;
    background-color: var(--mid);
    border: none;
    letter-spacing: 0.1em;
    color: var(--light);
    margin-top: 24px;
    align-self: flex-end;
    width: fit-content;
    padding: 12px;
    transition: all 300ms;
}

form button:hover {
    cursor: pointer;
    margin-top: 22px;
}